body {
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }

  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .ubuntu-light-italic {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: italic;
  }
  #bg{
    background-color: brown;
  }
  #txt{
    font-size: 100px !important;
  }
  @media screen and (max-width: 576px) {
    #txt{
      font-size: 60px !important;
    }
  }
  .hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .navbar {
    transition: transform 0.3s ease-in-out;
  }
  .blur-bg {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 251, 251, 0.273); 
}
